<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="gazebo_ros_control_plugin" params="namespace">

    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/${namespace}</robotNamespace>
        <!-- <controlPeriod>0.0001</controlPeriod> -->
        <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
		    <legacyModeNS>true</legacyModeNS>
        <!-- <preserveWorldVelocity>true</preserveWorldVelocity> -->
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>
