seed: -1

clip_observations: 5.0
clip_actions: 1.0

policy: # only works for MlpPolicy right now
  pi_hid_sizes: [1024, 1024, 512]
  vf_hid_sizes: [1024, 1024, 512]
  activation: elu # can be elu, relu, selu, crelu, lrelu, tanh, sigmoid
learn:
  agent_name: shadow_hand
  test: False
  resume: 0
  save_interval: 1000 # check for potential saves every this many iterations
  print_log: True

  # rollout params
  max_iterations: 6500

  # training params
  cliprange: 0.2
  ent_coef: 0
  nsteps: 15
  noptepochs: 1
  nminibatches: 1 # this is per agent
  max_grad_norm: 1
  optim_stepsize: 2.e-5 # 3e-4 is default for single agent training with constant schedule
  schedule: fixed # could be adaptive or linear or fixed
  desired_kl: 0.016
  gamma: 0.96
  lam: 0.95
  init_noise_std: 0.8

  log_interval: 1
  asymmetric: False