<?xml version="1.0" ?>
<robot name="partnet_12b0773858754105c59350d819542ec7">
	<link name="base"/>
	<link name="link_0">
		<visual name="cabinet_door_surface-23">
			<origin xyz="-0.6814305018069304 -0.5983409881591797 -0.3320541917515619"/>
			<geometry>
				<mesh filename="textured_objs/original-63.obj"/>
			</geometry>
		</visual>
		<visual name="cabinet_door_surface-23">
			<origin xyz="-0.6814305018069304 -0.5983409881591797 -0.3320541917515619"/>
			<geometry>
				<mesh filename="textured_objs/original-58.obj"/>
			</geometry>
		</visual>
		<visual name="cabinet_door_surface-23">
			<origin xyz="-0.6814305018069304 -0.5983409881591797 -0.3320541917515619"/>
			<geometry>
				<mesh filename="textured_objs/original-60.obj"/>
			</geometry>
		</visual>
		<visual name="cabinet_door_surface-23">
			<origin xyz="-0.6814305018069304 -0.5983409881591797 -0.3320541917515619"/>
			<geometry>
				<mesh filename="textured_objs/original-59.obj"/>
			</geometry>
		</visual>
		<visual name="cabinet_door_surface-23">
			<origin xyz="-0.6814305018069304 -0.5983409881591797 -0.3320541917515619"/>
			<geometry>
				<mesh filename="textured_objs/original-61.obj"/>
			</geometry>
		</visual>
		<visual name="cabinet_door_surface-23">
			<origin xyz="-0.6814305018069304 -0.5983409881591797 -0.3320541917515619"/>
			<geometry>
				<mesh filename="textured_objs/original-64.obj"/>
			</geometry>
		</visual>
		<visual name="handle-24">
			<origin xyz="-0.6814305018069304 -0.5983409881591797 -0.3320541917515619"/>
			<geometry>
				<mesh filename="textured_objs/original-68.obj"/>
			</geometry>
		</visual>
		<visual name="handle-24">
			<origin xyz="-0.6814305018069304 -0.5983409881591797 -0.3320541917515619"/>
			<geometry>
				<mesh filename="textured_objs/original-67.obj"/>
			</geometry>
		</visual>
		<visual name="handle-24">
			<origin xyz="-0.6814305018069304 -0.5983409881591797 -0.3320541917515619"/>
			<geometry>
				<mesh filename="textured_objs/original-66.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="-0.6814305018069304 -0.5983409881591797 -0.3320541917515619"/>
			<geometry>
				<mesh filename="textured_objs/original-63.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.6814305018069304 -0.5983409881591797 -0.3320541917515619"/>
			<geometry>
				<mesh filename="textured_objs/original-58.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.6814305018069304 -0.5983409881591797 -0.3320541917515619"/>
			<geometry>
				<mesh filename="textured_objs/original-60.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.6814305018069304 -0.5983409881591797 -0.3320541917515619"/>
			<geometry>
				<mesh filename="textured_objs/original-59.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.6814305018069304 -0.5983409881591797 -0.3320541917515619"/>
			<geometry>
				<mesh filename="textured_objs/original-61.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.6814305018069304 -0.5983409881591797 -0.3320541917515619"/>
			<geometry>
				<mesh filename="textured_objs/original-64.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.6814305018069304 -0.5983409881591797 -0.3320541917515619"/>
			<geometry>
				<mesh filename="textured_objs/original-68.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.6814305018069304 -0.5983409881591797 -0.3320541917515619"/>
			<geometry>
				<mesh filename="textured_objs/original-67.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.6814305018069304 -0.5983409881591797 -0.3320541917515619"/>
			<geometry>
				<mesh filename="textured_objs/original-66.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="revolute">
		<origin xyz="0.6814305018069304 0.5983409881591797 0.3320541917515619"/>
		<axis xyz="0 1 0"/>
		<child link="link_0"/>
		<parent link="link_3"/>
		<limit lower="0.0" upper="1.5707963267948966"/>
	</joint>
	<link name="link_1">
		<visual name="cabinet_door_surface-21">
			<origin xyz="0.6694047636052665 -0.5983409881591797 -0.33477018399758013"/>
			<geometry>
				<mesh filename="textured_objs/original-52.obj"/>
			</geometry>
		</visual>
		<visual name="cabinet_door_surface-21">
			<origin xyz="0.6694047636052665 -0.5983409881591797 -0.33477018399758013"/>
			<geometry>
				<mesh filename="textured_objs/original-46.obj"/>
			</geometry>
		</visual>
		<visual name="cabinet_door_surface-21">
			<origin xyz="0.6694047636052665 -0.5983409881591797 -0.33477018399758013"/>
			<geometry>
				<mesh filename="textured_objs/original-49.obj"/>
			</geometry>
		</visual>
		<visual name="cabinet_door_surface-21">
			<origin xyz="0.6694047636052665 -0.5983409881591797 -0.33477018399758013"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj"/>
			</geometry>
		</visual>
		<visual name="cabinet_door_surface-21">
			<origin xyz="0.6694047636052665 -0.5983409881591797 -0.33477018399758013"/>
			<geometry>
				<mesh filename="textured_objs/original-47.obj"/>
			</geometry>
		</visual>
		<visual name="cabinet_door_surface-21">
			<origin xyz="0.6694047636052665 -0.5983409881591797 -0.33477018399758013"/>
			<geometry>
				<mesh filename="textured_objs/original-51.obj"/>
			</geometry>
		</visual>
		<visual name="handle-22">
			<origin xyz="0.6694047636052665 -0.5983409881591797 -0.33477018399758013"/>
			<geometry>
				<mesh filename="textured_objs/original-54.obj"/>
			</geometry>
		</visual>
		<visual name="handle-22">
			<origin xyz="0.6694047636052665 -0.5983409881591797 -0.33477018399758013"/>
			<geometry>
				<mesh filename="textured_objs/original-56.obj"/>
			</geometry>
		</visual>
		<visual name="handle-22">
			<origin xyz="0.6694047636052665 -0.5983409881591797 -0.33477018399758013"/>
			<geometry>
				<mesh filename="textured_objs/original-55.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.6694047636052665 -0.5983409881591797 -0.33477018399758013"/>
			<geometry>
				<mesh filename="textured_objs/original-52.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.6694047636052665 -0.5983409881591797 -0.33477018399758013"/>
			<geometry>
				<mesh filename="textured_objs/original-46.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.6694047636052665 -0.5983409881591797 -0.33477018399758013"/>
			<geometry>
				<mesh filename="textured_objs/original-49.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.6694047636052665 -0.5983409881591797 -0.33477018399758013"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.6694047636052665 -0.5983409881591797 -0.33477018399758013"/>
			<geometry>
				<mesh filename="textured_objs/original-47.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.6694047636052665 -0.5983409881591797 -0.33477018399758013"/>
			<geometry>
				<mesh filename="textured_objs/original-51.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.6694047636052665 -0.5983409881591797 -0.33477018399758013"/>
			<geometry>
				<mesh filename="textured_objs/original-54.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.6694047636052665 -0.5983409881591797 -0.33477018399758013"/>
			<geometry>
				<mesh filename="textured_objs/original-56.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.6694047636052665 -0.5983409881591797 -0.33477018399758013"/>
			<geometry>
				<mesh filename="textured_objs/original-55.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="fixed">
		<origin xyz="-0.6694047636052665 0.5983409881591797 0.33477018399758013"/>
		<axis xyz="0 -1 0"/>
		<child link="link_1"/>
		<parent link="link_3"/>
		<limit lower="-0.0" upper="1.5707963267948966"/>
	</joint>
	<link name="link_2">
		<visual name="drawer_front-16">
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-16">
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-16">
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-16">
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-16">
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-16">
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-16">
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-16">
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-17">
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-17">
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-18">
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_back-19">
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_bottom-20">
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_bottom-20">
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</visual>
		<visual name="handle-15">
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-42.obj"/>
			</geometry>
		</visual>
		<visual name="handle-15">
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj"/>
			</geometry>
		</visual>
		<visual name="handle-15">
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-44.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-42.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.009011663265851733 -0.48111949698061995 0.3306339979171753"/>
			<geometry>
				<mesh filename="textured_objs/original-44.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="fixed">
		<origin xyz="0.009011663265851733 0.48111949698061995 -0.3306339979171753"/>
		<axis xyz="0 0 1"/>
		<child link="link_2"/>
		<parent link="link_3"/>
		<limit lower="0" upper="0.43999999999999995"/>
	</joint>
	<link name="link_3">
		<visual name="shelf-9">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-30">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-30">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-31">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-31">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</visual>
		<visual name="back_panel-32">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-69.obj"/>
			</geometry>
		</visual>
		<visual name="back_panel-32">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</visual>
		<visual name="bottom_panel-33">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual>
		<visual name="frame_vertical_bar-34">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</visual>
		<visual name="frame_vertical_bar-35">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-36">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-37">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-39">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-40">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</visual>
		<visual name="base_side_panel-26">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</visual>
		<visual name="base_side_panel-27">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</visual>
		<visual name="base_side_panel-28">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</visual>
		<visual name="base_side_panel-29">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-69.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_3" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_3"/>
		<parent link="base"/>
	</joint>
</robot>
