<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="dual_xarm">
  <!-- parameters -->
  <xacro:arg name="prefix_1" default="L_" />
  <xacro:arg name="prefix_2" default="R_" />
  <xacro:arg name="dof_1" default="7" />
  <xacro:arg name="dof_2" default="7" />
  <xacro:arg name="robot_type_1" default="xarm" />
  <xacro:arg name="robot_type_2" default="xarm" />
  <xacro:arg name="add_gripper_1" default="false" />
  <xacro:arg name="add_gripper_2" default="false" />
  <xacro:arg name="add_vacuum_gripper_1" default="false" />
  <xacro:arg name="add_vacuum_gripper_2" default="false" />
  <xacro:arg name="add_other_geometry_1" default="false" />
  <xacro:arg name="add_other_geometry_2" default="false" />

  <xacro:include filename="$(find xarm_description)/srdf/xarm_macro.srdf.xacro" />
  <xacro:xarm_macro_srdf prefix="$(arg prefix_1)" dof="$(arg dof_1)" robot_type="$(arg robot_type_1)" 
    add_gripper="$(arg add_gripper_1)" add_vacuum_gripper="$(arg add_vacuum_gripper_1)" add_other_geometry="$(arg add_other_geometry_1)" />
  <xacro:xarm_macro_srdf prefix="$(arg prefix_2)" dof="$(arg dof_2)" robot_type="$(arg robot_type_2)" 
    add_gripper="$(arg add_gripper_2)" add_vacuum_gripper="$(arg add_vacuum_gripper_2)" add_other_geometry="$(arg add_other_geometry_2)" />

</robot>